.container {  display: grid;
    grid-template-columns: 0.8fr 1.3fr 0.9fr;
    grid-template-rows: 0.4fr 0.9fr 2.4fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo nav nav"
      "banner banner banner"
      "margin1 main margin2"
      "footer footer footer";
  }
  
  .logo { grid-area: logo;
    color: white;
    background-color: black;
    text-align: center; }
  
  .nav { grid-area: nav; 
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    }

 a {
        text-decoration: none;
        color: white;
    }

    .nav > a.hover{
        font-size:  xx-large;
    }
  
  .banner { grid-area: banner;
            display: flex;
            background-color: black;
            align-items: center;
            justify-content: center;
            max-height: 35vh;
            /* background-image: image(theater_image_background.png); */
            }
    
    .banner > img{
        display: flex;
        float: inherit;
      }
  
  .margin1 { grid-area: margin1; 
            size: 100%;}
  
  .margin2 { grid-area: margin2;
            size: 100%; }
  
  .main { grid-area: main;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        }

    .main > article{
        margin: 20px;
        display: flex;
        text-align: center;
       flex-direction: column;
        border-bottom: 1px solid darkgray;
        max-height: 23vh;
        flex-wrap: wrap;
    }
        .main > article > img{
          max-height: 200px;
          max-width: 200px;
          object-position: left;
          
        }
  .footer { grid-area: footer;
    color: white;
    padding: 30px; 
    background-color: black;
    display: flex; flex-direction: row;
    justify-content: space-evenly;}

    .footer > #column{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;}
 header{
    color: white;
    background-color: black;
 } 